@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
/*font-family: 'Raleway', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  padding: 120px 0 157px 0;
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: hsl(228, 56%, 26%);
  margin: 0 21px 0 21px;
  padding: 40px 112px 40px 40px;
  border-radius: 10px;
  border-top-right-radius: 100px;
}

.fylo-logo {
  width: 140px;
}

.icons {
  display: flex;
  gap: 15px;
}

.file {
  display: flex;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.folder {
  display: flex;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  padding: 10px 12px 10px 12px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(228, 56%, 26%);
  margin: 15px 21px 0 21px;
  padding: 35px 35px 0 35px;
  border-radius: 10px;
  height: 160px;
}

.used-gb {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: hsl(243, 100%, 93%);
  margin-bottom: 15px;
}

.left-gb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  width: 180px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.number {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.left {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}

.usage-gb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 21px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 20px;
  padding-inline: 2px;
}

.used {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  height: 15px;
  padding-inline: 2px;
  border-radius: 20px;
  background: hsl(6, 100%, 80%);
  background: linear-gradient(94deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
}

.indicator {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 10px;
}

.metric {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 15px 0;
}
.metric p {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.attribution {
  background-color: hsl(229, 57%, 11%);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.attribution a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 376px) {
  section {
    background-image: url(../images/bg-desktop.png);
    background-position: bottom;
    background-color: hsl(229, 57%, 11%);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .first-section {
    align-items: center;
    padding: 40px 40px 40px 40px;
  }
  .fylo-logo {
    width: 180px;
  }
  .used-gb {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1025px) {
  body {
    height: 100vh;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: contain;
    height: 100%;
    padding-top: 130px;
  }
  .first-section {
    margin: 0;
  }
  .second-section {
    margin-top: 40px;
    width: 550px;
  }
  .used-gb {
    align-self: flex-start;
  }
  .left-gb {
    position: relative;
    top: -175px;
    left: 147px;
    border-radius: 10px 10px 0 10px;
  }
  .triangle {
    width: 180px;
    height: 0px;
    border-right: solid 24px rgb(214, 214, 214);
    border-bottom: solid 22px transparent;
    position: relative;
    top: -175px;
    left: 147px;
  }
}

/*# sourceMappingURL=style.css.map */
